.page_404 {
    &__link_404 {
        border-radius: 0.5rem;
        margin: 0.25rem 0;
        padding: 0.5rem 4rem;
        display: inline-block;
        background: #49d936;
        color: #fff;

        &:hover {
            color: #fff;
        }
    }
}
